In [22]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get("https://www.zomato.com/pune/baner-restaurants")

In [4]:
box = driver.find_element(By.CLASS_NAME, 'sc-evWYkj')
box

In [5]:
Restaurant = box.find_element(By.CLASS_NAME, 'sc-1hp8d8a-0.sc-Ehqfj.bxOQva').text
Restaurant

'Neighbourhud | All Day Bistro'

In [6]:
Discount = box.find_element(By.CLASS_NAME, "walkin-offer-value").text
Discount

'Flat 20% OFF'

In [7]:
Famous_for = box.find_element(By.CLASS_NAME, 'sc-1hez2tp-0.sc-gggouf.fSxdnq').text
Famous_for

'North Indian, Biryani, Fast Food, Pizza, Continental, Beverages'

In [8]:
Location = box.find_element(By.CLASS_NAME, "sc-1hez2tp-0.sc-cyQzhP.uIMEk").text
Location

'Baner, Pune'

In [9]:
Rating = box.find_element(By.CLASS_NAME, 'sc-1q7bklc-1.cILgox').text
Rating

'4.6'

In [10]:
Cost = box.find_element(By.CLASS_NAME, 'sc-1hez2tp-0.sc-gggouf.KXcjT').text
Cost

'₹1,500 for two'

In [31]:
elements = driver.find_elements(By.CSS_SELECTOR, 'div.jumbo-tracker')
len(elements)

501

In [32]:
Data = []

In [33]:
for element in elements:
    try:
        re = element.find_element(By.TAG_NAME, 'h4').text
    except:
        print("NA")
    try:
        ra = element.find_element(By.CSS_SELECTOR, 'div.sc-1q7bklc-1.cILgox').text
    except:
        print("NA")
    try:
        FF = element.find_element(By.TAG_NAME, 'p').text
    except:
        print("NA")
    try:
        Lo = element.find_element(By.CLASS_NAME, "sc-1hez2tp-0.sc-cyQzhP.uIMEk").text
    except:
        print("NA")
    try:
        co = element.find_element(By.CLASS_NAME, 'sc-1hez2tp-0.sc-gggouf.KXcjT').text
    except:
        print("NA")
    try:
        ds = element.find_element(By.CLASS_NAME, "min-basic-info-right").text
    except:
        print("NA")
    dic = {
        'Restaurant': re,
        'Rating': ra, 
        'Famous_for': FF,
        'Location': Lo,
        'Cost': co,
        'Distance': ds
    }
    Data.append(dic)

In [34]:
data = pd.DataFrame(Data)
data.head()

,Restaurant,Rating,Famous_for,Location,Cost,Distance
0,Neighbourhud | All Day Bistro,4.6,"North Indian, Biryani, Fast Food, Pizza, Conti...","Baner, Pune","₹1,500 for two",691 m
1,Amora Skyline Lounge & Kitchen,3.8,"North Indian, Chinese, Bar Food, Oriental","Hinjawadi, Pune","₹1,000 for two",4.8 km
2,Bombay Bistro,4.3,"Bar Food, Pizza, Asian, North Indian, Oriental","Mahalunge, Pune","₹1,000 for two",3.8 km
3,The Corner Lounge,4.6,"North Indian, Oriental, Continental, Mexican, ...","Baner, Pune","₹2,000 for two",678 m
4,Prem's,4.4,"North Indian, Chinese, Continental, Pizza, Pas...","Baner, Pune","₹1,600 for two",610 m

In [35]:
data.shape

(501, 6)

In [42]:
data.to_csv('Zomato_restaurant_Pune.csv', index = False)
print('csv saved successfully')

csv saved successfully